/*

Votre <header> doit faire 100vw de largeur et 10vh de hauteur minimum.

Votre <main> doit faire 100vw de largeur et 85vh de hauteur minimum.

Votre <footer> doit faire 100vw de largeur et 5vh de hauteur minimum.

*/

html{
    body{
        margin: 0;
        padding: 0;
        header{
            min-width: 100vw;
            min-height: 10vh;
            border-bottom: solid 1px black;
            display: flex;
            align-items: center;
            nav{
                ul{
                    display: flex;
                    list-style-type: none;
                    li{
                        margin-left: 50px;
                        padding: 1rem;
                        border: 1px solid black;
                        border-radius: 10px;
                    }
                }
            }
        }
        main{
            min-width: 100vw;
            min-height: 85vh;
        }
        footer{
            min-width: 100vw;
            min-height: 5vh;
        }
    }
}
